<div class="hero-unit">
  <h1>Planet of the ants</h1>
  <p>Write an AI to battle it out in ruby and upload it.
    <% if @current_match %>
      Currently <%= @current_match.bot_names %> are duking it out.</p>
    <% end %>
  </p>
  <p><a class="btn secondary large" href="/bots/new">Get started &raquo;</a></p>
</div>

<div class="row">
  <div class="span-two-thirds">
    <h1>Last 10 matches</h1>

    <table class="zebra-striped">
      <tr>
        <th>Players</th>
        <th>Winner</th>
        <th>Replay</th>
      </tr>

    <% @matches.each do |match| %>
      <tr>
        <td><%= match.bot_names %></td>
        <td><em>Coming soon</em></td>
        <td><%= link_to 'Show', match %></td>
      </tr>
    <% end %>
    </table>
  </div>

  <div class="span-one-third">
    <h1>Leaderboard</h1>
    <p class="label">Coming soon</p>
    <%= link_to "Get in the game", new_bot_path, class: "btn primary" %>
  </div>
</div>


